<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Jobhunter V2.0</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginEmployer</display-name>
    <servlet-name>LoginEmployer</servlet-name>
    <servlet-class>com.employer.LoginEmployer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginEmployer</servlet-name>
    <url-pattern>/LoginEmployer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployerHandler</display-name>
    <servlet-name>EmployerHandler</servlet-name>
    <servlet-class>com.employer.EmployerHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployerHandler</servlet-name>
    <url-pattern>/EmployerHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListHandler</display-name>
    <servlet-name>ListHandler</servlet-name>
    <servlet-class>com.jobs.ListHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListHandler</servlet-name>
    <url-pattern>/ListHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobsHandler</display-name>
    <servlet-name>JobsHandler</servlet-name>
    <servlet-class>com.jobs.JobsHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobsHandler</servlet-name>
    <url-pattern>/JobsHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RatingHandler</display-name>
    <servlet-name>RatingHandler</servlet-name>
    <servlet-class>com.rating.RatingHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingHandler</servlet-name>
    <url-pattern>/RatingHandler</url-pattern>
  </servlet-mapping>
</web-app>